<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
    <title>Summit Broomball</title>
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        
        <div class="row"> <!-- Positioning the logo via bootstrap grid properties -->
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                    <img src="./images/logo.jpg" id="site-logo" alt="logo">
            </div>
            <div class="col"></div>
        </div>
        
        <!-- Sidebar -->
        <nav id="sidebar" class="active">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/index">HOME</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul>
                        <li>
                            <a href="/player">Add A Player</a>
                        </li>
                        <li>
                            <a href="">Draft Page</a>
                        </li>
                        <li>
                            <a href="/league">League Page</a>
                        </li>
                    </ul>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </li>
            </ul>                    
        </nav>

        <!-- Page Content -->
        <div class="row">
            <div class="col-md-2">
            <!-- empty col for centering main content -->
            </div>
            <div class="col-md-8" id="content">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left">

                    </i>
                    Menu
                </button>

                <div class="main">
                    <h2 class="draft_page">Summit Broomball</h2>
                    <div class="row">

                        <div id="schedule_game" class="col">
                            <div>
                                <p><br>Create a new game</p>
                            </div>
                            <form method="post" class="col">
                                <div class="form-group"> <!-- Date input -->
                                    <label class="control-label" for="date">Date</label>
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                                </div>
                                <div class="form-group"> <!-- Submit button -->
                                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div id="existing_game" class="col">
                            <p><br>See upcoming games</p>
                            <div id="game_list">
                            </div>
                        </div>
                    </div>
                </div> <!-- End of main -->
                <br>
                <div class="main" id="content_hidden"> <span id="js_content"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col"><h2>Dark Team</h2><span id="dark_draft_col"></span></div>
                            <div class="col"> <h2><br></h2> <span id="available_draft_col"></span></div>
                            <div class="col"><h2>White Team</h2><span id="white_draft_col"></span></div>

                        </div>

                    </div>
                </div>
            </div> <!-- End of content -->
        </div>
    </div> <!-- End of wrapper -->
    <div class="overlay"> </div>

<!-- Commenting out this data that is not showing properly yet -->
<!-- 
<div class="col-md-1" id="flavicons">
        <ul class="list-group">
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
        </ul>
    </div>
    -->        
   

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./assets/js/navigation.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
$(document).ready(function() {
    $("#content_hidden").hide();
    const currentURL = window.location.origin;

    console.log("ready to grind human meat...")
    // code to add the datepicker
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options= {
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        };
    date_input.datepicker(options);
    // creating the game on "Submit" even via iife
    $("#schedule_game").submit(function(e) {
        let date = $('#date').val()
        // sending the date of the form to the API via an iife
            $.ajax({ 
                url: currentURL + "/api/games", 
                method: "POST",
                data: jQuery.param({game_date: date}) 
            })
            .then(function(result) {
                // need validation of the API (if true, or something...)
                // this is the id of the newly created game 
                addMembersToDraft(result.id)
                seeUpcomingGames()
            })
        // preventing the page to refresh
        e.preventDefault();
        // empty the form
        $('#date').val("")
        // should also reload the list
        });
    
    const addMembersToDraft = (gameId) => {
        $.ajax({ url: currentURL + "/api/players/member", method: "GET" })
        .then(function(dataFromAPI) {
            let players = [];
            // will see if we need this array in the constructor
            function PlayerObj (game,name) {
                this.game = game,
                this.name = name,
                players.push(this)
                fromPlayerToRoster(this)
                }
                dataFromAPI.forEach((e) => {                
                    let newPlayerObj = new PlayerObj (gameId,e.shortname)
                    });
                console.log("this is the array of players: ", players)        
                // need to show the array of players in the HTML (right now, it's JSON data, so that won't work)
                // or show database data instead?
                // could add logic to go to the game page and show all available players
                $("#js_content").append(players)
        
                })
            }
    // helper function to push players to the roster table when a game is created   
    const fromPlayerToRoster = (player) => {
        $.ajax({ 
                url: currentURL + "/api/rosters", 
                method: "POST",
                data: jQuery.param({GameId: player.game,player:player.name, saved: false, availability: true}) 
            })
        }
    // shows the list of future games
    function seeUpcomingGames() {
        // emptying the div so that it does not keep appending when the data is refreshed
        $("#game_list").text("");
        $.ajax({ url: currentURL + "/api/games/upcoming", method: "GET" }).then(function(dataFromAPI) {
            dataFromAPI.forEach((e) => {
                let gameDiv = `<div id=${e.id} class="future_game" game_date="${e.game_date}"> <button class="btn btn-info navbar-btn game_button">${e.game_date}\n`
                // console.log(line)
                // Does this allow the games to be shown by date?
                $("#game_list").append(gameDiv);
                });
            })
        }
    // this shows the players available for a given game after a click on one of the future games
    function showTeams(){
        $(document).on("click", ".future_game", function (){
            $("#content_hidden").show();
            let id = $(this).attr("id");
            // console.log(this)
            let gameDate = $(this).attr("game_date")
            // console.log(id);
            console.log(id)
            console.log(gameDate)
            getAvailablePlayers(id,gameDate)   
            })
        };
    // sets the player as unavailable after a click on the "remove" icon 
    $(document).on("click", ".remove", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({availability: false, player: playerName}) 
            }).then(function(dataFromAPI) {
                console.log("Recorded")
                getAvailablePlayers(gameId,gameDate)   
                });
            });
    // drafts the player to the "dark" team after a click on the left arrow
    $(document).on("click", ".left", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({team: "dark", player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });

    // drafts the player to the "white" team after a click on the right arrow
    $(document).on("click", ".right", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({team: "white", player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });

    // shows players in their respective columns, according to the team they have been drafted to
    function getAvailablePlayers(idOfGame,dateOfGame) {
        $.ajax({ url: currentURL + "/api/rosters/game/" + idOfGame, method: "GET" }).then(function(dataFromAPI) {
            $("#available_draft_col").text("")
            $("#dark_draft_col").text("")
            $("#white_draft_col").text("")

            $("#js_content").text("")
            dataFromAPI.forEach((e) => {
                if (e.team) {
                    if (e.team.toLowerCase() === "dark") {
                        let darkPlayersDiv = 
                        `<div class="roster_check" id="${e.id}" availability="${e.availability}">
                        <button class="btn btn-info navbar-btn player_button" id="${e.id}" player="${e.player}">${e.player}</button> 
                        <i class="fa fa-times-circle remove" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i> 
                        <i class="fa fa-arrow-circle-o-right right arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`
                        $("#dark_draft_col").append(darkPlayersDiv)
                        }
                    else if (e.team.toLowerCase() === "white") {
                        let whitePlayersDiv = 
                        `<div class="roster_check" id="${e.id}" availability="${e.availability}">
                        <i class="fa fa-arrow-circle-left left arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i> 
                        <button class="btn btn-info navbar-btn player_button" id="${e.id}" player="${e.player}">${e.player}</button> 
                        <i class="fa fa-times-circle remove" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`
                        $("#white_draft_col").append(whitePlayersDiv)
                        }
                }
                else {
                    let availablePlayerDiv = 
                    `<div class="roster_check" id="${e.id}" availability="${e.availability}">
                    <i class="fa fa-arrow-circle-left left arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i> 
                    <button class="btn btn-info navbar-btn player_button" id="${e.id}" player="${e.player}">${e.player}</button> 
                    <i class="fa fa-times-circle remove" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i> 
                    <i class="fa fa-arrow-circle-o-right right arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`
                    $("#available_draft_col").append(availablePlayerDiv)
                    }
                })
            let gameDay = `<div class="game_day"><br> <h2>${dateOfGame}</h2>`
            $("#js_content").append(gameDay)
            })
        }

        
        
showTeams()
seeUpcomingGames()

    });
        
    </script>
</body>
</html>