<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
    <title>Summit Broomball</title>
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        
        <div class="row"> <!-- Positioning the logo via bootstrap grid properties -->
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                    <img src="./images/logo.jpg" id="site-logo" alt="logo">
            </div>
            <div class="col"></div>
        </div>
        
        <!-- Sidebar -->
        <nav id="sidebar" class="active">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul>
                        <li>
                            <a href="#">PAGE</a>
                        </li>
                        <li>
                            <a href="#">PAGE</a>
                        </li>
                        <li>
                            <a href="#">PAGE</a>
                        </li>
                    </ul>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </li>
            </ul>                    
        </nav>

        <!-- Page Content -->
        <div class="row">
            <div class="col-md-2">
            <!-- empty col for centering main content -->
            </div>
            <div class="col-md-8" id="content">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left">

                    </i>
                    Menu
                </button>

                <div class="main">
                    <h2 class="draft_page">Summit Broomball</h2>
                    <div class="row">

                        <div id="schedule_game" class="col">
                            <div>
                                <p><br>Create a new game</p>
                            </div>
                            <form method="post" class="col">
                                <div class="form-group"> <!-- Date input -->
                                    <label class="control-label" id="date_text" for="date">Date</label>
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                                </div>
                                <div class="form-group"> <!-- Submit button -->
                                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div id="existing_game" class="col">
                            <p id="game_text"><br>See upcoming games</p>
                            <div id="game_list">
                            </div>
                        </div>
                    </div>
                </div> <!-- End of main -->
                <br>
                <div class="main content_hidden">
                <!-- <div class="main"> -->
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="reset">Reset Teams</button> 
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="autodraft">Autodraft</button> 
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="unavailable">Show unavailable</button> 
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="ten_buckers">Add Non-Members</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="main content_hidden" id="draft_data"> <span id="js_content"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col"><h2>Dark Team</h2><span id="dark_draft_col"></span></div>
                            <div class="col"> <h2><br></h2> <span id="available_draft_col"></span></div>
                            <div class="col"><h2>White Team</h2><span id="white_draft_col"></span></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="main content_hidden">
                <!-- <div class="main"> -->
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="picks_dark">Set Dark Picks</button> 
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="picks_white">Set White Picks</button> 
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="alternate_draft">Alternate Draft</button> 
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-info navbar-btn menu_options" id="serpentine_draft">Serpentine Draft</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div> <!-- End of content -->
        </div>
    </div> <!-- End of wrapper -->
    <div class="overlay"> </div>
    
<!-- Commenting out this data that is not showing properly yet -->
<!-- 
<div class="col-md-1" id="flavicons">
        <ul class="list-group">
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
            <li class="flavicon-icons">
                <img class="flavicon-images" src="./images/logo.png">
            </li>
        </ul>
    </div>
    -->        
   

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./assets/js/navigation.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
$(document).ready(function() {
    $(".content_hidden").hide();
    const currentURL = window.location.origin;
    const team1Name = "dark";
    const team2Name = "white";

    console.log("ready to grind human meat...")
    // code to add the datepicker
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options= {
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        };
    date_input.datepicker(options);
    // creating the game on "Submit" event
    $("#schedule_game").submit(function(e) {
        let date = $('#date').val()
        // sending the date of the form to the API via an iife
            $.ajax({ 
                url: currentURL + "/api/games", 
                method: "POST",
                data: jQuery.param({game_date: date}) 
            })
            .then(function(result) {
                // need validation of the API (if true, or something...)
                // this is the id of the newly created game 
                addPlayersToDraft(result.id,"member")
                seeUpcomingGames()
            })
        // preventing the page to refresh
        e.preventDefault();
        // emptying the form
        $('#date').val("")
        });
    
    // adding all members to game created  
    const addPlayersToDraft = (gameId,status) => {
        $.ajax({ url: currentURL + "/api/players/" + status, method: "GET" })
        .then(function(dataFromAPI) {
            function PlayerObj (game,name,membershipStatus) {
                this.game = game,
                this.name = name,
                this.membershipStatus = membershipStatus,
                fromPlayerToRoster(this)
                }
                dataFromAPI.forEach((e) => {                
                    let newPlayerObj = new PlayerObj (gameId,e.shortname,status)
                    });
                })
            }
    // helper function to push players to the roster table when a game is created (set availability to true)   
    const fromPlayerToRoster = (player) => {
        $.ajax({ 
                url: currentURL + "/api/rosters", 
                method: "POST",
                data: jQuery.param({GameId: player.game,player:player.name, editable: false, availability: true}) 
                })
            }
    // shows the list of future games
    function seeUpcomingGames() {
        // emptying the div so that it does not keep appending when the data is refreshed
        $("#game_list").text("");
        $.ajax({ url: currentURL + "/api/games/upcoming", method: "GET" }).then(function(dataFromAPI) {
            dataFromAPI.forEach((e) => {
                let gameButton = `<div id=${e.id} class="future_game" game_date="${e.game_date}"> <button class="btn btn-info navbar-btn game_button">${e.game_date}</button>\n`
                let removeButton = `<i class="fa fa-times-circle remove remove_game" id="${e.id}" game_date="${e.game_date}"></i>`
                let gameDiv = `${gameButton} ${removeButton}`
                $("#game_list").append(gameDiv);
                });
            })
        }
    // this shows the players available for a given game after a click on one of the future games
    // we also set data attr for the game being worked on
    function showTeams(){
        $(document).on("click", ".future_game", function (){
            $(".content_hidden").show();
            let id = $(this).attr("id");
            let gameDate = $(this).attr("game_date")
            $("#autodraft").attr("game_id",id)
            $("#autodraft").attr("game_date",gameDate)
            $("#reset").attr("game_id",id)
            $("#reset").attr("game_date",gameDate)
            $("#unavailable").attr("game_id",id)
            $("#unavailable").attr("game_date",gameDate)
            $("#ten_buckers").attr("game_id",id)
            $("#ten_buckers").attr("game_date",gameDate)
            getAvailablePlayers(id,gameDate)   
            })
        };
    // sets the player as unavailable after a click on the "remove" icon 
    $(document).on("click", ".remove_player", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({availability: false, player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });
    // deletes a game after a click on the "remove" icon
    $(document).on("click", ".remove_game", function (){
        let gameId = $(this).attr("id");
        let gameDate = $(this).attr("game_date")
        let result = confirm("Are you sure you want to delete this game? \nAll associated information will be lost");
        if (result) {
            $.ajax({ 
                url: currentURL + "/api/games/" + gameId, 
                method: "DELETE"
                }).then(function(dataFromAPI) {
                    console.log("Game Deleted")
                    // reloads the game list
                    seeUpcomingGames()
                    // re-hides the section to not show roster for suppressed game
                    $(".content_hidden").hide();            
                    });
            }
        });
    // drafts the player to the "dark" team after a click on the left arrow
    $(document).on("click", ".left", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({team: "dark", player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });

    // drafts the player to the "white" team after a click on the right arrow
    $(document).on("click", ".right", function (){
        let playerId = $(this).attr("id");
        let gameId = $(this).attr("game_id");
        let playerName = $(this).attr("player");
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({team: "white", player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });

    // shows players in their respective columns, according to the team they have been drafted to
    function getAvailablePlayers(idOfGame,dateOfGame) {
        $.ajax({ url: currentURL + "/api/rosters/game/" + idOfGame + "/availability/1", method: "GET" }).then(function(dataFromAPI) {
            $("#available_draft_col").text("")
            $("#dark_draft_col").text("")
            $("#white_draft_col").text("")
            $("#js_content").text("")

            dataFromAPI.forEach((e) => {
                let divRosterCheck = `<div class="roster_check" id="${e.id}" availability="${e.availability}">`
                let playerButton = `<button class="btn btn-info navbar-btn player_button" id="${e.id}" player="${e.player}">${e.player}</button>`
                let removeButton = `<i class="fa fa-times-circle remove remove_player" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`
                let rightArrowButton = `<i class="fa fa-arrow-circle-o-right right arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`
                let leftArrowButton = `<i class="fa fa-arrow-circle-left left arrows" id="${e.id}" player="${e.player}" game_date="${dateOfGame}" game_id="${e.GameId}"></i>`    
                let defaultSet = `${divRosterCheck} ${leftArrowButton} ${playerButton} ${removeButton} ${rightArrowButton}`
                if (e.team) {
                    if (e.team.toLowerCase() === "dark") {
                        let darkPlayersDiv = 
                        `   ${divRosterCheck} 
                            ${playerButton}
                            ${removeButton}
                            ${rightArrowButton}
                        `
                        $("#dark_draft_col").append(darkPlayersDiv)
                        }
                    else if (e.team.toLowerCase() === "white") {
                        let whitePlayersDiv =
                        `   ${divRosterCheck}  
                            ${leftArrowButton}
                            ${playerButton}
                            ${removeButton}`
                        $("#white_draft_col").append(whitePlayersDiv)
                        }
                    else {
                        let availablePlayerDiv = defaultSet
                        $("#available_draft_col").append(availablePlayerDiv)
                        }
                }
                else {
                    let availablePlayerDiv = defaultSet
                    $("#available_draft_col").append(availablePlayerDiv)
                    }
                })
            let gameDay = `<div class="game_day"><br> <h2>${dateOfGame}</h2>`
            $("#js_content").append(gameDay)
            })
        }
    
    // submenu options
    ////////////////////////////////////
    
    // Assign each available player for that game to "Dark" or "White" team after click 
    $("#autodraft").click(function (){
        let availablePlayers = [];
        let gameId = $(this).attr("game_id");
        let gameDate = $(this).attr("game_date")
        $.ajax({ url: currentURL + "/api/rosters/game/"+ gameId+ "/players", method: "GET" }).then(function(dataFromAPI) {
            // apply the autodraft feature to players available for that game
            $.when($.ajax(autoDraft(dataFromAPI))).then(function() {
                //this function is executed after function1
                getAvailablePlayers(gameId,gameDate)
                });
            });
        });

    // Assign each available player for that game to "" team after click     
    $("#reset").click(function() {
        let gameId = $(this).attr("game_id");
        let gameDate = $(this).attr("game_date")
        $.ajax({ url: currentURL + "/api/rosters/game/"+ gameId +"/availability/1", method: "GET" }).then(function(dataFromAPI) {
            function PlayerObj (id,name,team) {
                this.id = id,
                this.name = name,
                this.team = team,
                updateTeam(this)
                }
                dataFromAPI.forEach((e) => {
                    let newPlayerObj = new PlayerObj(e.id,e.player,"unavailable")
                })
                getAvailablePlayers(gameId,gameDate)
            })
        })
    // show unavailable players
    $("#unavailable").click(function() {
        let gameId = $(this).attr("game_id");
        let gameDate = $(this).attr("game_date")
        console.log("Here it is!")
        $.ajax({ url: currentURL + "/api/rosters/game/"+ gameId + "/" + "availability/0", method: "GET" }).then(function(dataFromAPI) {
            dataFromAPI.forEach((e) => {
                let divRosterCheck = `<div class="roster_check" id="${e.id}" availability="${e.availability}">`
                let playerButton = `<button class="btn btn-info navbar-btn unavailable player_button" id="${e.id}" player="${e.player}" game_id="${e.GameId}" game_date=${gameDate}>${e.player}</button>`
                let availablePlayerDiv = `${divRosterCheck} ${playerButton}`
                $("#available_draft_col").append(availablePlayerDiv)
                });
            })
        })
    // make unavailable member available again
    $(document).on("click", ".unavailable", function (){
        let playerId = $(this).attr("id");
        let playerName = $(this).attr("player");
        let gameId = $(this).attr("game_id")
        let gameDate = $(this).attr("game_date")
        $.ajax({ 
            url: currentURL + "/api/rosters/" + playerId, 
            method: "PUT",
            data: jQuery.param({availability: true, player: playerName}) 
            }).then(function(dataFromAPI) {
                getAvailablePlayers(gameId,gameDate)   
                });
            });
    // add non-members to the list of draftable players
    $("#ten_buckers").click(function() {
        let gameId = $(this).attr("game_id");
        let gameDate = $(this).attr("game_date");
        console.log("Click recorded\ngameId: ",gameId,"\ngameDate: ",gameDate)
        $.ajax({ url: currentURL + "/api/players/ten_bucker", method: "GET" })
        .then(function(dataFromAPI) {
            dataFromAPI.forEach((e) => {
                let divRosterCheck = `<div class="roster_check" id="${e.id}" availability="${e.availability}">`
                let playerButton = `<button class="btn btn-info navbar-btn not_a_member player_button" id="${e.id}" player="${e.shortname}" game_id="${gameId}" game_date=${gameDate}>${e.shortname}</button>`
                let availablePlayerDiv = `${divRosterCheck} ${playerButton}`
                $("#available_draft_col").append(availablePlayerDiv)
                });
            })
        })

    // clicking on a ten bucker adds them to the list of available players
    $(document).on("click",".not_a_member", function (){
        let gameId = $(this).attr("game_id");
        let gameDate = $(this).attr("game_date");
        let playerName = $(this).attr("player");
        let newPlayerforDraft = {
            game: gameId,
            name: playerName
            }
        console.log("Player obj without constructor: ", newPlayerforDraft)
        $.ajax({ 
            url: currentURL + "/api/rosters", 
            method: "POST",
            data: jQuery.param({GameId: newPlayerforDraft.game, player: newPlayerforDraft.name, editable: false, availability: true}) 
            }).then(function(){
            getAvailablePlayers(gameId,gameDate)
            })    
        });
    showTeams()
    seeUpcomingGames()

    // Team sorting functions
    ////////////////////////////////////

    // Autodraft feature: separates all players by level, randomly assigns them to dark or white team
    const autoDraft = (arrayOfAvailablePlayers) => {
        let mixedRosters = [];
        // recreating our array by assigning each player to its level
        let output = arrayOfAvailablePlayers.reduce((levels,player) => {
            levels[player.level] = levels[player.level] || [];
            levels[player.level].push({
                shortname: player.shortname,
                id: player.id,
                level: player.level
            });
            return levels;
        },[])
        // getting the number of levels
        let numOutput = Object.keys(output).length;
        for (let i = 0; i < numOutput; i++) {
            // running the randomize function for each level
            let playersByLevel = Object.entries(output)[i]
            // the "level" is the first argument in the array, the next one is the players: that's how we access them
            let playersArray = playersByLevel[1]
            // console.log("players array non randomized: ", playersArray)
            randomize(playersArray, mixedRosters)
            }
        for (i = 0; i < mixedRosters.length; i++) {
            // assigning different team to every other player
            if (i%2 === 0) {mixedRosters[i].team = team1Name;}
            else {mixedRosters[i].team = team2Name}
            }
            function PlayerObj (name,id,team) {
                this.name = name,
                this.id = id,
                this.team = team
                updateTeam(this)
                }
            mixedRosters.forEach((e) => {
                let newPlayerObj = new PlayerObj (e.shortname,e.id,e.team)
                })
        // the only purpose of calling this function is to verify that teams are balanced (level wise)
        filterTeams(mixedRosters);
        }

    // function to filter array of player objects into teams
    // (each player object has been assigned a team name)
    const filterTeams = (arrayOfPlayerObjects) => {
        let rosterTeam2 = [];
        let rosterTeam1 = [];

        // filter player objects according to name of the team #1
        rosterTeam1 = arrayOfPlayerObjects.filter((e) => e.team === team1Name)
        console.log(`\n************\n${team1Name}:\n************\n`);
        // display the shortname of the player objects for the whole team
        rosterTeam1.forEach((e) => {
            console.log(`${e.shortname} (${e.level})`);
            })
        // filter player objects according to name of the team #2
        rosterTeam2 = arrayOfPlayerObjects.filter((e) => e.team === team2Name)
        console.log(`\n************\n${team2Name}:\n************\n`);
        // display the shortname of the player objects for the whole team
        rosterTeam2.forEach((e) => {
            console.log(`${e.shortname} (${e.level})`);
            })
        }
    // helper function to randomize an array (pushes/deletes to another array recursively, until it's empty) 
    const randomize = (inputArray, outputArray) => {
        if(inputArray.length > 0) {
            let randomPlayer = inputArray[Math.floor(Math.random()*inputArray.length)];
            let index = inputArray.indexOf(randomPlayer);
            outputArray.push(randomPlayer);
            inputArray.splice(index,1)
            randomize(inputArray, outputArray);
            }
        }

    // helper function to update a player's team in the db with parameters stored in player object
    // We will pass it the player's information in the constructor 
    const updateTeam = (participant) => {
        $.ajax({ 
            url: currentURL + "/api/rosters/" + participant.id, 
            method: "PUT",
            data: jQuery.param({team: participant.team, player: participant.name}) 
            }).then(function(dataFromAPI) {
                });
        }

        

    });
        
    </script>
</body>
</html>