.table_data {
    width: 25%;
}

.stats {
    text-align: center;
}

.stat_button {
    margin: 0,5px,0,5px;
    font-size: 150%;
    color: #EA8D47;
}

.stat_button:hover {
    color: #DE733A;
} 

tr {
    font-size: 100%;
}

.raw_data {
    font-size: 95%;
    margin: 5px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.name_in_table {
    font-size: 150%;
    font-variant: small-caps;
    font-weight: bold;
}

#game_records {
    min-height: 500px;
}

/* lists in draft.html & stats.html */
#list_of_games {
    max-height: 200px;
    overflow: scroll;
}
#game_list {
    max-height: 200px;
    overflow: scroll;
}

#bottom_lock_feature {
    min-height: 50px;
    background-color: white;
    padding: 5%;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}

/* Other colors to use (according to material.io 
https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=FB8C00&secondary.color=9E9E9E 


.orange {
    base-color: #ea8d47;
    light: #ffbe75;
    dark: #b35f19;
}
.grey {
    base-color: #acadb2;
    light: #dedfe4;
    dark: #7d7e83;
}
*/
/* games and players button styles */
/* main colors */
.dark_grey {
    background-color: #FF5D00;
    border-color: black;
}
.dark_grey:hover {
    background-color: #7d7e83;
    border-color: black;
}
.regular_grey {
    border-color: black;
    background-color: #F88833;
    border-color: black;
}
.regular_grey:hover {
    background-color: #acadb2;
    border-color: black;
}
.light_grey {
    background-color: #ffbe75;
    border-color: black;
    color: black;
}
.light_grey:hover {
    background-color: #dedfe4;
    border-color: black;
}
.not_a_member {
    background-color: white;
    color: #EA8D47;
    margin-left: -15px;
    }
/* buttons size */
.game_button {
    text-align: center;
    width: 150px;
    margin-top: 10px;
    margin-left: 150px;
    }

.player_button {   
    width: 55%;
    margin-top: 10px;
    min-width: 150px;
}

/* other buttons */
.locking_feature {
    min-height: 75px;
    min-width: 75px;
}
.bigger_fa_lock {
    font-size: 150%;
}
.insecable {
    min-width: 120px;
}

/* Picking feature styles */
.pick_check {
    text-align: center;
    padding-left: 2%;
    width: 100%;
    min-width: 200px;
    min-height: 49px;
}
.pick_dark {
    left: 15px;
    }
.pick_arrows {
    right: -50px;
}

.empty_button {
    color: black;
    text-align: left;
    background-color: white;
    border-bottom-style: dashed;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    margin-top: 11px;
    }

.empty_button:hover {
    color: black;
    background-color: white;
}

.rank_num {
    margin-left: -40px;
}
.not_that_empty {
    text-align: center;
    color: black;
}
.rank_num_picked {
    margin-left: -30px;
}

/* Draft columns formatting */
/* divs */

.roster_check {
    text-align: center;
    /* padding-left: 2%; */
    width: 120%;
    min-width: 200px;
}
.schedule_game {
    border-color: #DE733A;
}
.unavailable {
    background-color: #ACADB2;
    margin-left: -15px;
    }
.arrows {
    font-size: 30px;
    position: relative;
    top: 10px;   
    }
.arrows:hover {
    color: #DE733A;
    /* from: #EA8D47; */
    }
.left {
    right: 3px;
    }
.right {
    left: -10px;
    }
.remove {
    position: relative;
    top: -11px;
    left: -9px;
    font-size: 115%;
    }
.remove:hover {
    color: red;
    }
.remove_game .remove {
    top: -10px;
    left: -13px;
}
.roster_check {
    text-align: center;
    padding-left: 2%;
}
/* Slipping one team under the other on smaller screens */
@media (max-width: 1199px) {
    #team_white_content {
        margin-top: 100px;
    }
}
/* trying to prevent the flashing */
.statscontent_hidden {
    min-height: 500px;
}