body {
    background-image: url("../../../views/images/background.jpg")
}

header {

}

.btn-group {
    position: relative;
    float: right;
    right: 5%;
    margin-top: 2.5%;
    background-color: transparent;
}

.dropdown-menu.show {
    margin-right: 20px;
    margin-top: 10px;
    background-color: transparent;
    border-style: none;

}

.site-logo {
    position: relative;
    float: left;
    left: 5%;
    margin-top: 2.5%;
}

img {
    width: 75px;
}

.menu-items {
    color: black;
    margin-top: 30px;
}

.list-items {
    margin-top: 7px;
}

#flavicons {
    float: right;
    margin-top: 30%;
    position: relative;
    left: 90px;
}

.flavicon-icons {
    list-style-type: none;
    margin-top: 20%;
}

.flavicon-images {
    width: 30px;
}

.flavicon-images:hover {
    width: 70px;
}

#center-container {
   margin-top: 33%;

}