body {
    background: #ACADB2;
}
#sidebarCollapse {
    width: 100px;
    position: relative;
    /* left: 125px; */
    bottom: 150px;
    background-color: #EA8D47;
    border-color: #000;
}

h1 {
    font-family: 'Yellowtail', cursive;
    position: absolute;
    float: none;
    left: 1100px;
    margin-top: 1%;
}
h2.draft_page {
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

h2 {
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 50px;
    color: white;
    position: relative;
    bottom: 50px;
    /* left: 120px; */
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.welcomeText {
    color: black;
    font-family: 'Boogaloo', cursive;
    position: relative;
    bottom: 20px;
    left: 525px;
    text-shadow:
    -0.5px -0.5px 0 whitesmoke,
    0.5px -0.5px 0 whitesmoke,
    -0.5px 0.5px 0 whitesmoke,
    0.5px 0.5px 0 whitesmoke;
}

.wrapper {
    display: block;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar {
    font-family: 'Boogaloo', cursive;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    background: #EA8D47;
    color: #fff;
    transition: all 0.3s;

}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer */
    z-index: 9998;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of sidebar */
    top: 10px;
    right: 10px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #DE733A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #EA8D47;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ACADB2;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #DE733A;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #DE733A;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.site-logo {
    position: relative;
    /* right: 900%; */
    margin-top: 2.5%;
}

.main {
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 50px;
    margin: 0;
    left: 300px;
}

#inner-main {
    background: #EA8D47;
    padding: 100px;
    margin: 0
}

img {
    width: 205px;
    /* margin-left: 1175px; */
    margin-top: 3%;
}

#button-one {
    color: black;
    position: relative;
    width: 150px;
    height: 50px;
    left: 75px;
    left: 465px;
    background-color: #FFFFFF;
    border-color: #000;
    text-shadow:
        -0.5px -0.5px 0 #EA8D47,
        0.5px -0.5px 0 #EA8D47,
        -0.5px 0.5px 0 #EA8D47,
        0.5px 0.5px 0 #EA8D47;
    }

#button-two {
    color: black;
    position: relative;
    width: 150px;
    height: 50px;
    left: 515px;
    background-color: #FFFFFF;
    border-color: #000;
    text-shadow:
        -0.5px -0.5px 0 #EA8D47,
        0.5px -0.5px 0 #EA8D47,
        -0.5px 0.5px 0 #EA8D47,
        0.5px 0.5px 0 #EA8D47;
    }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/* Draft page formatting */

.roster_check {
    text-align: center;
    /* padding-left: 2%; */
    width: 120%;
    min-width: 200px;
}


.unavailable {
    background-color: #ACADB2;
    margin-left: -15px;
    }
.not_a_member {
    background-color: white;
    color: #EA8D47;
    margin-left: -15px;
    }
.arrows {
    font-size: 30px;
    position: relative;
    top: 10px;   
    }
.arrows:hover {
    color: #DE733A;
    /* from: #EA8D47; */
    }
.left {
    right: 3px;
    }
.right {
    left: -15px;
    }

.remove {
    position: relative;
    top: -12px;
    left: -12px;   
    }

.remove:hover {
    color: red;
    }

.roster_check {
    text-align: center;
    padding-left: 2%;
}

.form-group {
    color: whitesmoke;
    text-shadow:
    -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
}


#playerButton, #contactSubmit {
    background-color: #ACADB2;
    border-style: none;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

#recap-button {
    position: relative;
    font-size: 20px;
    left: 45%;
    margin-top: 15px;
    bottom: 20px;
    background-color: #ACADB2;
    border-color: black;
    text-shadow: -0.5px -0.5px 0 #EA8D47, 0.5px -0.5px 0 #EA8D47, -0.5px 0.5px 0 #EA8D47, 0.5px 0.5px 0 #EA8D47;
}

.game-text {
    font-size: 24px;
    position: relative;
    left: 40%;
}

    
#date_text {
    color: black;
    text-shadow: none;
    font-variant: small-caps;
    }
#game_text {
    margin-bottom: 38px;
}

/* table formatting */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
padding: 8px;
}

th {
	text-align: center;
}

td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead > th {
    font-variant: small-caps;
    font-weight: bold;
}

.table_data {
    width: 25%;
}

.stats {
    text-align: center;
}

.stat_button {
    margin: 0,5px,0,5px;
    font-size: 150%;
    color: #EA8D47;
}

.stat_button:hover {
    color: #DE733A;
} 

tr {
    font-size: 100%;
}

.raw_data {
    font-size: 95%;
    margin: 5px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.name_in_table {
    font-size: 150%;
    font-variant: small-caps;
    font-weight: bold;
}

#game_records {
    min-height: 500px;
}

/* lists in draft.html & stats.html */
#list_of_games {
    max-height: 200px;
    overflow: scroll;
}
#game_list {
    max-height: 200px;
    overflow: scroll;
}

#bottom_lock_feature {
    min-height: 50px;
    background-color: white;
    padding: 5%;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}

/* Other colors to use (according to material.io 
https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=FB8C00&secondary.color=9E9E9E 


.orange {
    base-color: #ea8d47;
    light: #ffbe75;
    dark: #b35f19;
}
.grey {
    base-color: #acadb2;
    light: #dedfe4;
    dark: #7d7e83;
}
*/
/* games and players button styles */
.dark_grey {
    background-color: #7d7e83;
    border-color: black;
}
.dark_grey:hover {
    background-color: #b35f19;
}
.light_grey {
    background-color: #dedfe4;
    border-color: black;
    color: black;
}
.light_grey:hover {
    background-color: #ffbe75;
}
.game_button {
    text-align: center;
    width: 150px;
    margin-top: 10px;
    margin-left: 150px;
    }
.regular_grey {
    background-color: #acadb2;
    border-color: black;
}
.regular_grey:hover {
    background-color: #ea8d47;
}
/*
.game_button:hover {
    background-color: #EA8D47;
    }
.menu_options:hover {
    background-color: #EA8D47;
    }
.grey {
    background-color: #ACADB2;
    border-color: black;
}
.grey:hover {
    background-color: #EA8D47
}
*/
.player_button {   
    width: 50%;
    margin-top: 10px;
}
/* other buttons */
/* .locking_feature {
    min-height: 75px;
    min-width: 75px;
} */
.bigger_fa_lock {
    font-size: 150%;
}
.insecable {
    min-width: 120px;
}
@media (max-width: 1199px) {
    #team_white_content {
        margin-top: 100px;
    }
}
/* Pick styles */
.pick_check {
    text-align: center;
    /* padding-left: 2%; */
    width: 100%;
    min-width: 200px;
    min-height: 49px;
}
.pick_dark {
    left: 15px;
    }
.empty_button {
    color: black;
    text-align: left;
    background-color: white;
    border-bottom-style: dashed;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    margin-top: 11px;
    }
.empty_button:hover {
    color: black;
    background-color: white;
}
.rank_num {
    margin-left: -40px;
}
.not_that_empty {
    text-align: center;
    color: black;
}
.rank_num_picked {
    margin-left: -30px;
}